* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
#horaire div p:nth-child(1) {
    font-weight: bold;
    text-shadow: 5px 3px 5px rgb(0, 0, 0);
    margin: 5px;
    padding: 0;
}

#horaire div p:nth-child(1){
    font-size: 1.5em;
}

header {
    margin-bottom : 20px;
}

h3,p {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#horaire div.veille {
    background-color: darkblue;
    color: white;
}

#horaire div.projet {
    background-color: darkblue;
    color: white;
}

#horaire {
    display: grid;
    grid-template-columns: .08fr repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
    border: 1px solid #aaa;
}

#horaire div {
    border: 1px solid #aaa;
    grid-gap: 10px;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#horaire div:nth-child(1) {
    grid-column: 2;
    grid-row: 1/12;
    border: 1px solid #aaa;
    justify-content: flex-start;
}

#horaire div:nth-child(2) {
    grid-column: 3;
    grid-row: 1/12;
    border: 1px solid #aaa;
    justify-content: flex-start;

}

#horaire div:nth-child(3) {
    grid-column: 4;
    grid-row: 1/12;
    border: 1px solid #aaa;
    justify-content: flex-start;

}

#horaire div:nth-child(4) {
    grid-column: 5;
}

#horaire div:nth-child(5) {
    grid-column: 6;
}

/* 8h */
#horaire div:nth-child(6) {
    grid-column: 1;
    grid-row: 2;
}

/* 12h */
#horaire div:nth-child(7) {
    grid-column: 1;
    grid-row: 6;
}

/* 13h */
#horaire div:nth-child(8) {
    grid-column: 1;
    grid-row: 7;
}

/* 14h */
#horaire div:nth-child(9) {
    grid-column: 1;
    grid-row: 8;
}

/* 17h */
#horaire div:nth-child(10) {
    grid-column: 1;
    grid-row: 12;
}

#horaire div.colonne_heure {
    grid-column: 1;
    grid-row: 1 / 12;
    background-color: rgb(241, 229, 173);
    opacity: .25;
}

#horaire div.lundi {
    grid-row: 2 / 7;
    grid-column: 2;
    border: 1px solid #aaa;
}

#horaire div.veille_techno {
    grid-row: 8 / 13;
    grid-column: 2;
}

#horaire div.mardi {
    grid-row: 2 / 13;
    grid-column: 3;
}

#horaire div.disponibilite > div {
    transform: rotate(-25deg);
    border : none;
}


#horaire div.mercredi {
    grid-column: 4;
    grid-row: 2 / 6;
}

#horaire div.dispo_mercredi {
    grid-row: 6 / 7;
    grid-column: 4;
}

#horaire div.jeudi_1 {
    grid-column: 5;
    grid-row: 2 / 7;
}

#horaire div.dispo_jeudi {
    grid-row: 6 / 8;
    grid-column: 5;
}

#horaire div.vendredi_video {
    grid-row: 2 / 6;
    grid-column: 6;
    border: 1px solid #aaa;
}

#horaire div.vendredi {
    grid-row: 7 / 11;
    grid-column: 6;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.disponibilite {
    background-color: #d0e22b40;
}

@media screen and (max-width: 500px) {
    h2, p, h1, h3 {
        font-size: 1em;
    }

    #horaire {
        /*display: none;*/
        background-color: lightblue;
    }


}