@media screen and (max-width: 500px) {
	/*==============FOOTER==================================================*/
	.site-footer {
		background-color: black;
		position: relative;
		color: white;
		font-family: 'Titillium Web';
		padding: 1em 0.8em;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	#site-footer-logo p {
		margin-bottom: 0.4em;
		font-size: 1.2em;
	}
	#site-footer-social img {
		width: 40px;
		padding: 0.2em 0;
    }
}