body {
	box-sizing: border-box;
}

.partie1 {
	width: 100%;
	height: 800px;
	background: black;
}

.partie1 img {
	width: 100%;
	height: 800px;
}
@media screen and (max-width: 959px) {
	* {
		box-sizing: border-box;
		font-family: 'Titillium Web';
		padding: 0;
		margin: 0;
	}
	/*==============NAV==================================================*/
	#logo {
		position: fixed;
		top: 8px;
		left: 1em;
		z-index: 6;
    }
    #logo img {
		max-width: 2em !important;
	}
}