* {
	box-sizing: border-box;
	font-family: 'Titillium Web';
	padding: 0;
	margin: 0;
}
@media screen and (min-width: 960px){
	header {
		display: inline-block;
		position: fixed !important;
		background-color: black;
		width: 100%;
		height: 70px;

		
	}
	.partie1 {
		width: 100%;
		height: 800px;
		background: black;
	}

	.partie1 img {
		width: 100%;
		height: 800px;
	}

		#logo {
			/*position: absolute;*/
			top: 12px;
			left: 1em;
			z-index: 6;
			
		}
		#logo img {
			width: 50px;
			height: 50px;
		}
		#barre_navigation{
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			

		}
	
		.partie2 {
			background-color: black;
			color: white;
			height: 500px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
		.partie2 h2 {

			font-size: 3em;

		}
		.partie2 .barre-blanche{
			background-color: white;
			width: 20%;
			height: 7px;
			border-radius: 20px;
		}
		.partie2 .barre-blanche:nth-child(1){
			margin-top: 20px;

		}
		.partie2 .barre-blanche:last-child{
			
			height: 5px;
			width: 10%;
	
		}
		.partie2 p{
			text-align: center;
			width: 50%;
			font-size: 1.7em;
			border: 1px seolid white;
		}
		.partie3{
			height: 500px;
			background-color: grey;
		}
		.partie3 {
			background:black;
			height: 100%;
		  }
		  .partie3 h1{
			font-family: Gotham, Helvetica, san-serif;
			color: #fff;
			text-align: center;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin: 2em 0;
		  }
		  .partie3 div{
			width: 90%;
			margin: 0 auto;
		  }
		  .partie3 svg{
			width: 100%;
			height: 75%;
		  }
		//   .partie3 path{ 
			
		//   -webkit-transition: stroke-dashoffset 2s ease-in-out; 
		// 	transition: stroke-dashoffset 2s ease-in-out;
		//   }       
		
}




@media screen and (max-width: 959px) {
	* {
		box-sizing: border-box;
		font-family: 'Titillium Web';
		padding: 0;
		margin: 0;
	}
	/*==============NAV==================================================*/
	#logo {
		position: fixed;
		top: 8px;
		left: 1em;
		z-index: 6;
    }
    #logo img {
		max-width: 2em !important;
    }
    .partie2 {
		display: block;
		background-color: black;
		height: 450px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
	}
	.partie2 .barre-blanche {
		background-color: white;
		height: 6px;
		width: 50%;
		margin-top: 40px;
	}
	.partie2 h2 {
		margin-top: 20px;
		color: white;
	}
	.partie2 p {
		width: 85%;
		margin-top: 20px;
		color: white;
		line-height: 25px;
	}
	.partie2 .barre-blanche:last-child {
		height: 4px;
		width: 30%;
	}
	.partie3{
		height: 500px;
		background-color: grey;
	}
	.partie3 {
		background:black;
		height: 100%;
	  }
	  .partie3 h1{
		font-family: Gotham, Helvetica, san-serif;
		color: #fff;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin: 2em 0;
	  }
	  .partie3 div{
		width: 90%;
		margin: 0 auto;
	  }
	  .partie3 svg{
		width: 100%;
		height: 75%;
	  }
	  .partie3 path{ 
		
	  -webkit-transition: stroke-dashoffset 2s ease-in-out; 
		transition: stroke-dashoffset 2s ease-in-out;
	  }       
}